#root {
  background-color: rgb(234,234,195);
}

body {
  background-color: rgb(234,234,195);
}
.bg-card{
  background-color: rgb(163,151,135);

}
.logo {
  width: 200px;
  object-fit: contain;
}

.logoSection {
  width: 200px;
  object-fit: contain;
}

hr {
  height: 2px;
  background-color: rgb(84,0,39);;
}

.cardTitle {
  color: white;
  font-size: 25px;
  letter-spacing: 0.5px;
}

.btnGreen {
  background-color: rgb(48,163,180) ;
  color: rgb(234,235,195);
}

.navbarColor {
  background-color: rgb(163,151,135);
}

.btnFav {
  background-color: rgb(48,163,180);
}


.btnBrown{
  background-color: rgb(84,0,39);
  color: rgb(234,235,195);
}

.detailColor{
  color: rgb(84,0,39);
}

.dropdownColor {
  background-color: rgb(163,151,135)

}